Authlib==1.3.2
beautifulsoup4==4.12.3
better_profanity==0.7.0
fastapi==0.115.5
fastapi_mail==1.4.2
feedparser==6.0.11
langchain==0.3.9
langchain_community==0.3.8
langchain_core==0.3.21
motor==3.6.0
ollama==0.4.2
pandas==2.2.3
Pillow==11.0.0
pydantic==2.10.2
pymongo==4.10.1
python-dotenv==1.0.1
python_bcrypt==0.3.2
python_jose==3.3.0
Requests==2.32.3
scikit_learn==1.5.2
slowapi==0.1.9
starlette==0.41.3
uvicorn==0.32.1